@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */
	.cdtcText{
		display: block;
	}
 

}
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
	.cdtcText{
		display: block;
	}

  
}
@media (min-width:640px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
.cdtcText{
		display: none;
	}

}
	@media (min-width:700px)  { 
.cdtcText{
		display: none;
	}
		 ul li  {
    
    padding: 10px 12px 10px 12px;
    font-size: 14px;
    }
    li a{
      /*text-transform: uppercase;*/
      font-size:14px;
    }

}

@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
.cdtcText{
		display: none;
	} 

	 ul li  {
    
    padding: 10px 25px 10px 25px;
    font-size: 14px;
    }
    li a{
      /*text-transform: uppercase;*/
      font-size:16px;
    }
}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */
.cdtcText{
		display: none;
	} 
  ul li  {
    
    padding: 15px 30px 15px 30px;
    font-size: 14px;
    }
    li a{
      /*text-transform: uppercase;*/
      font-size:18px;
    }
 }
@media (min-width:1281px) { /* hi-res laptops and desktops */ 
.cdtcText{
		display: none;
	} 
	ul li  {
    
    padding: 15px 30px 15px 30px;
    font-size: 14px;
    }
    li a{
      /*text-transform: uppercase;*/
      font-size:18px;
    }
}